.proposals-section {
  @extend .section-commons;
  background: palette(green, x-light);
  color: palette(green);
  text-align: center;

  .section-titles__underlines {
    background: palette(green);

    &:after {
      background: palette(green);
    }
  }

  p {
    display: block;
    @include container(1000px);
  }

  span {
    font-weight: 700;
  }

  a {
    @extend .button-green;
  }
}
