.schedule-section {
  @extend .section-commons;
  background: palette(green);
  color: palette(white);

  .section-titles__underlines {
    background: palette(white);

    &:after {
      background: palette(white);
    }
  }
}

.schedule {
  @include container (800px);
  text-align: left;
  margin-top: ritmo(10);
}

%schedule-center-text-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.schedule__title {
  text-align: center;
  margin: 30px auto;
}

.schedule__line {
  width: 100%;
  border-bottom: rgba(palette(green, x-dark), .3) 2px solid;
  @include clearfix();
  position: relative;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;

  @include mq($from: break-medium-small) {
    flex-wrap: nowrap;
  }
}

.schedule__line--break {
  background: rgba(palette(green, x-dark), .3);
  border-bottom: 0;
}

.schedule__line-hour {
  flex: 0 0 100%;

  @include mq($from: break-medium-small) {
    flex: 0 0 auto;
    padding-left: 35px;
  }
}

.schedule__line-speaker {
  flex: 0 0 100%;

  @include mq($from: break-medium-small) {
    flex: 1 1 auto;
    padding-left: 35px;
  }

  a {
    text-decoration: underline;
    color: palette(white);

    &:hover,
    &:focus {
      color: palette(white);
      text-decoration: underline;
    }
  }
}
