section#about-section.about-section

  h4.section-titles Acerca do Drupal Day

  .section-titles__underlines

  p
    | Integrado no evento&nbsp;
    a.about-links(href="http://www.techdays.pt/" target="_blank") Techdays
    | &nbsp;promovido pela&nbsp;
    a.about-links(href="http://www.cm-aveiro.pt/" target="_blank") Câmara Municipal de Aveiro
    | , o Drupal Day, teve por objetivo reunir a comunidade para partilha de experiências e conhecimento. Se não tiveste a oportunidade de participar, podes consultar as&nbsp;
    a.about-links(href="/#presentation" target="_self") apresentações
    |.

  p Este ano iremos participar novamente no Techdays , no dia 14 de Outubro, e além das talks haverá também um workshop dedicado ao Drupal. As inscrições estarão disponíveis brevemente.<br>Até lá Submete a tua&nbsp;
    a.about-links(href="/#proposals" target="_self") Sessão
    |. 
  
  h5 Participa!
  h6 Vamos partilhar a paixão pelo Drupal!

