section#apply-section.apply-section

  h4.section-titles Inscrição

  .section-titles__underlines

  p.pre-countdown Faltam

  .apply-countdown

  //- p Link de inscrição para breve
  p Os lugares são limitados por isso não percas o teu
  a.apply-countdown__link(href="http://80.172.224.40/" target="_blank") Inscreve-te aqui

