section#schedule-section.schedule-section

  h4.section-titles Programa
  .section-titles__underlines

  .schedule

    .schedule__title
      <h5> Sessões</h5>


    .schedule__line.schedule__line--break
      .schedule__line-hour 10h00 • 10h15
      .schedule__line-speaker Receção e Boas-vindas


    .schedule__line
      .schedule__line-hour 10h20 • 10h50
      .schedule__line-speaker <strong>Manual de sobrevivência do desenvolvimento web</strong><br>Ricardo Marcelino


    .schedule__line
      .schedule__line-hour 10h55 • 11h25
      .schedule__line-speaker <strong>D8 - Business Applications</strong><br>Francisco Almeida


    .schedule__line.schedule__line--break
      .schedule__line-hour 11h25 • 11h45
      .schedule__line-speaker Coffee Break


    .schedule__line
      .schedule__line-hour 11h50 • 12h20
      .schedule__line-speaker <strong>Upgrade para Drupal 8 - Serbenfiquista.com case study</strong><br>Hernâni Borges de Freitas


    .schedule__line
      .schedule__line-hour 12h25 • 12h55
      .schedule__line-speaker <strong>Drupal Decoupled on ARTE</strong><br>João Belchior


    .schedule__line.schedule__line--break
      .schedule__line-hour 13h00 • 15h00
      .schedule__line-speaker Almoço


    .schedule__line
      .schedule__line-hour 15h00 • 15h30
      .schedule__line-speaker <strong>Software Livre em Portugal</strong><br>Marcos Marado


    .schedule__line
      .schedule__line-hour 15h35 • 16h05
      .schedule__line-speaker <strong>Cultural Heritage & Drupal </strong><br>Alberto Permury


    .schedule__line
      .schedule__line-hour 16h10 • 16h40
      .schedule__line-speaker <strong>Drupal 8 - Internet of things</strong><br>Rui Figueiredo


    .schedule__line.schedule__line--break
      .schedule__line-hour 16h45 • 17h00
      .schedule__line-speaker Encerramento e networking

    .schedule__title
      <h5>Workshop</h5>
      p O workshop decorrerá no Salão Nobre em simultâneo com as sessões do auditório, tendo início às 10h20. Terá os mesmos coffee breaks e intervalo para almoço de forma a possibilitar o networking entre os participantes.
